{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}img/{{ .Params.image }}')">
      {{ else }}<header class="intro-header">
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-10 offset-1">
             <div class="post-heading">
                <h1>{{ .Title }}</h1>
                <div class="subheading syntax-color-comment">
                  {{ .Description }}
                </div>
                <div class="meta">
                  {{ partial "intro-header/meta.html" .}}
                </div>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
              {{ .Content }}
        </div>
    </article>

{{ partial "footer.html" .}}
