<div class="cookie-consent outer d-flex justify-content-center align-items-center">
  <div class="inner">
    <h1>We use cookies</h1>
    <p>We use cookies to analyze our website traffic. By browsing our website, you consent to our use of cookies. For more informations, please read our <a href="{{ .Site.BaseURL }}/privacy-policy" target="_blank">privacy policy</a></p>
    <ul class="list-inline">
      <li class="list-inline-item"><button class="btn btn-warning" onclick="enableCookieUsage();hideCookieConsent();">Accept</button></li>
      <li class="list-inline-item"><button class="btn btn-secondary" onclick="disableCookieUsage();hideCookieConsent();">Cancel</button></li>
    </ul>
  </div>
</div>