{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
           <div class="site-heading">
              <h1>
                <span class="syntax-color-symbol">$</span> 
                <span class="syntax-color-default">hello</span> 
                <span class="syntax-color-symbol">{</span><!--
                --><span class="syntax-color-highlight">code</span><!--
                --><span class="syntax-color-symbol">}</span> 
                <span class="syntax-color-default">blog</span>
            </h1>
            {{ with .Site.Params.Description }}<span class="subheading syntax-color-comment">{{ . }}</span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
          {{ range first $posts (where .Data.Pages "Type" "post") }}
              {{ .Render "summary"}}
          {{ end }}
          <!-- Pager -->
          <ul class="pager list-unstyled float-right">
            <li class="next">
              <a href="{{ .Site.BaseURL }}/post/">Older Posts &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
